  /* 顏色 */
  .jr-bg-success {
    background-color: #68AE00;
  }
  .jr-bg-success-50 {
    background-color: rgba(104, 174, 0, 0.5);
  }
  .jr-success {
    color: #68AE00;
  }
  .jr-outline-success {
    border:1px solid #68AE00;
  }
  .jr-table-bg-success {
    background-color: #E1EFCC;
  }

  .jr-bg-feature {
    background-color: #FD7F02;
  }
  .jr-bg-feature-50 {
    background-color: rgba(253, 127, 2, 0.5);
  }
  .jr-feature {
    color: #FD7F02;
  }
  .jr-outline-feature {
    border: 1px solid #FD7F02;
  }
  .jr-table-bg-feature {
    background-color: #FFE5CC;
  }

  .jr-bg-system {
    background-color: #4FBCFB;
  }
  .jr-bg-system-50 {
    background-color: rgba(79, 188, 251, 0.5);
  }
  .jr-system {
    color: #4FBCFB;
  }
  .jr-outline-system {
    border:1px solid #4FBCFB;
  }
  .jr-table-bg-system {
    background-color: #DCF2FE;
  }

  .jr-bg-error {
    background-color: #DEA1DD;
  }
  .jr-bg-error-50 {
    background-color: rgba(222, 161, 221, 0.5);
  }
  .jr-error {
    color: #DEA1DD;
  }
  .jr-outline-error {
    border:1px solid #DEA1DD;
  }
  .jr-table-bg-error {
    background-color: #F8ECF8;
  }
  
  .jr-bg-danger {
    background-color: #D80505;
  }
  .jr-bg-danger-50 {
    background-color: rgba(216, 5, 5, 0.5);
  }
  .jr-danger {
    color: #D80505;
  }
  .jr-outline-danger {
    border: 1px solid #D80505;
  }
  
  .jr-main-blue {
    color: #337AB7;
  }
  .jr-bg-main-blue {
    background-color: #337AB7;
  }
  .jr-gray {
    color: #e1e1e1;
  }
  .jr-bg-gray {
    background-color: #e1e1e1;
  }
  .jr-bg-dark-gray {
    background-color: #DDDDDD;
  }
  .text-white {
    color: #ffffff;
  }